body {
	background-color: #232323;
}

.square {
	width: 30%;
	background: green;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
<<<<<<< HEAD
	width: 500px;
	float: left;
=======
	max-width: 600px;
>>>>>>> 7b670b3fc27239a54d548945fa9b502df7e02f27
}

h1 {
	color: white;
}

<<<<<<< HEAD
.color-projector {
	background-color: #efe188;
	color: #676767;
}

.color-projector > p #current-color {
	color: white;
	font-size: 50px;
=======
/* javascript toggle class */

.purple {
	background-color: purple;
>>>>>>> 7b670b3fc27239a54d548945fa9b502df7e02f27
}
